<div class="container my-5">
  <h1>Movies List</h1>
  <div class="row">
    <div class="col-6 mx-auto">
      <% @lists.each do |list| %>
        <div class ="d-flex justify-content-between">
          <p><%= link_to list.name, list_path(list), class: 'btn btn-primary' %></p>
          <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, list_path(list), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </div>
      <% end %>
      <%= link_to 'Create a list?', new_list_path %>
    </div>
  </div>
</div>
