<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><i class="fa-solid fa-film"></i></a>
    <form class="d-flex">
      <%= link_to "New List", new_list_path, class: "btn btn-outline-primary"%>
    </form>
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1594908900066-3f47337549d8?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1vdmllfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500);">
    <div class="container">
      <h1>Save any king of movies</h1>
    </div>
</div>

<div class = "container">
  <h1> My Lists</h1>
  <div class="cards">
    <% @lists.each do |list| %>
      <% if list.image.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path list.image.key, height: 300, crop: :fill %>')">
        <%= link_to list.name, list_path(list)%>
        </div>
      <% else %>
        <%= link_to list.name, list_path(list)%>
      <% end %>
    <% end %>
  </div>
</div>
